.set-bgr1 {
    position: absolute;
    height: 6000px;
    width: 100%;
    background: url(../images/bh.jpg) no-repeat;
    background-size: 1370px auto;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.6;
}
table,th,td {
    border: 1px solid black;
    border-collapse: collapse;
}

th,td {
    padding: 5px;
    text-align: left;
}

#table1{
    margin-left: 52px;
    margin-top: -52px;
}