.baohanh {
    margin-top: 20px;
    color: #f15929;
    font-size: 19px;
    margin-bottom: 30px;
}

.dichvu {
    font-weight: 600;
}

#hr {
    height: 1px;
    border: 0.5px solid;
    width: 750px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.table {
    font-family: 'utmavo';
    margin-left: 50px;
}

#table-baohanh {
    background-color: #f1f1f1;
}

#table-1 {
    width: 1045px;
    background: white;

    .tg {
        table-layout: fixed; 
        width: 1044px;

        border-collapse: collapse;
        border-spacing: 0;
    }
    .tg td {
        font-family: Arial, sans-serif;
        font-size: 14px;
        padding: 10px 5px;
        border-style: solid;
        border-width: 1px;
        overflow: hidden;
        word-break: normal;
        border-color: black;
    }
    .tg th {
        font-family: Arial, sans-serif;
        font-size: 14px;
        font-weight: normal;
        padding: 10px 5px;
        border-style: solid;
        border-width: 1px;
        overflow: hidden;
        word-break: normal;
        border-color: black;
    }
    .tg .tg-c3ow {
        border-color: inherit;
        text-align: center;
        vertical-align: top
    }
    .tg .tg-uys7 {
        border-color: inherit;
        text-align: center
    }
    .tg .tg-us36 {
        border-color: inherit;
        vertical-align: top
    }
    .tg .tg-p8bj {
        font-weight: bold;
        border-color: inherit;
        vertical-align: top
    }
    .tg .tg-7btt {
        font-weight: bold;
        border-color: inherit;
        text-align: center;
        vertical-align: top
    }
}

#table-2 {
    width: 1045px;
    background: white;

    .tg {
        table-layout: fixed; 
        width: 1044px;

        border-collapse: collapse;
        border-spacing: 0;
    }
    .tg td {
        font-family: Arial, sans-serif;
        font-size: 14px;
        padding: 10px 5px;
        border-style: solid;
        border-width: 1px;
        overflow: hidden;
        word-break: normal;
        border-color: black;
    }
    .tg th {
        font-family: Arial, sans-serif;
        font-size: 14px;
        font-weight: normal;
        padding: 10px 5px;
        border-style: solid;
        border-width: 1px;
        overflow: hidden;
        word-break: normal;
        border-color: black;
    }
    .tg .tg-88nc {
        font-weight: bold;
        border-color: inherit;
        text-align: center
    }
    .tg .tg-8m2u {
        font-weight: bold;
        border-color: inherit
    }
    .tg .tg-l711 {
        border-color: inherit
    }
    .tg .tg-uys7 {
        border-color: inherit;
        text-align: center
    }
}

#table-3 {
    width: 1045px;
    background: white;
    .tg {
        table-layout: fixed; 
        width: 1045px;

        border-collapse: collapse;
        border-spacing: 0;
    }
    .tg td {
        font-family: Arial, sans-serif;
        font-size: 14px;
        padding: 10px 5px;
        border-style: solid;
        border-width: 1px;
        overflow: hidden;
        word-break: normal;
        border-color: black;
    }
    .tg th {
        font-family: Arial, sans-serif;
        font-size: 14px;
        font-weight: normal;
        padding: 10px 5px;
        border-style: solid;
        border-width: 1px;
        overflow: hidden;
        word-break: normal;
        border-color: black;
    }
    .tg .tg-88nc {
        font-weight: bold;
        border-color: inherit;
        text-align: center
    }
    .tg .tg-8m2u {
        font-weight: bold;
        border-color: inherit
    }
    .tg .tg-c3ow {
        border-color: inherit;
        text-align: center;
        vertical-align: top
    }
    .tg .tg-uys7 {
        border-color: inherit;
        text-align: center
    }
    .tg .tg-us36 {
        border-color: inherit;
        vertical-align: top
    }
    .tg .tg-7btt {
        font-weight: bold;
        border-color: inherit;
        text-align: center;
        vertical-align: top
    }
    .tg .tg-p8bj {
        font-weight: bold;
        border-color: inherit;
        vertical-align: top
    }
}

.txt-baobanh {
    font-size: 18px;
}
