.baogia-1 {
    font-size: 30px;
}

.tb-baogia {
    background-color: white;
}

.tg {
    border-collapse: collapse;
    border-spacing: 0;
}

.tg td {
    font-family: Arial, sans-serif;
    font-size: 18px;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: black;
}

.tg th {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: black;
}

.tg .tg-mp1f {
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif !important;
    ;
    border-color: inherit;
    text-align: center
}

.tg .tg-oy06 {
    font-size: 28px;
    font-family: "Times New Roman", Times, serif !important;
    ;
    background-color: #f15929;
    color: #ffffff;
    border-color: inherit;
    text-align: center;
    vertical-align: top
}

.tg .tg-q84z {
    font-size: 18px;
    background-color: #f15929;
    color: #ffffff;
    border-color: inherit;
    text-align: center;
    vertical-align: top
}

.tg .tg-g327 {
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif !important;
    ;
    border-color: inherit
}

.tg .tg-ivcs {
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif !important;
    ;
    border-color: inherit;
    text-align: right
}






.tg .tg-uys7 {
    border-color: inherit;
    text-align: center
}

.tg .tg-oy06 {
    font-size: 28px;
    font-family: "Times New Roman", Times, serif !important;
    ;
    background-color: #f15929;
    color: #ffffff;
    border-color: inherit;
    text-align: center;
    vertical-align: top
}

.tg .tg-cs16 {
    font-size: 20px;
    background-color: #f15929;
    color: #ffffff;
    border-color: inherit;
    text-align: center;
    vertical-align: top
}

.tg .tg-quj4 {
    border-color: inherit;
    text-align: right
}